<style type="text/css">
  .none{
    display: none;
  }
    .fixed-width{
    width: 100%;
    height: 7rem;
    background: black;
    color: white;
    margin: 0;
    margin-bottom: 2rem;
  }

  .switch .form-control {
    display: inline-block;
  }

  .error {
    border: 1px solid yellow !important ;
  }

.timeline_form{
    max-width: 60rem;
    margin: auto;
    /*border: 1px solid #decccc;
    padding: 4rem;*/
    }

  <% if !params[:task_id].present? %>
    .timeline_form{
    max-width: 50rem;
    margin: auto;
    border: 1px solid #decccc;
    padding: 4rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
  <% end %>

  .update_form{
    width: 100%;
    /*background: #ae00ad;*/
  }
  label {
    font-weight: 200;
  }
  textarea {
    min-height: 125px;
  }

  input[type=checkbox] {
      width: 2rem !important;
      height: 2rem !important;
    }

    .inline-block {
      vertical-align: text-bottom;
    }

@media only screen and (max-width: 600px) {
    .timeline_form {
          max-width: 30rem;
         margin-bottom: 2rem;
    }

    .fixed-width .col-md-6 > h2 {
      font-size: 1.7rem;
      margin-top: 2.6rem;
    }

    .fixed-width .col-md-6 > span {
      font-size: 1.8rem;
    }

}

</style>


<div class="form_container" >
  <form class="timeline_form"  >
  <% if !params[:task_id].present? %>  
    <h3 style="text-align: center; color: black; margin-top: 0; ">Create Task</h3>
    <!-- <hr> -->
  <% end %>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control field1" name="name" required="" placeholder="name" <% if @timeline.present? %> disabled <% end %> value="<%= @timeline.name if @timeline.present? %>" >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <textarea placeholder="description" name="description" required="" class="form-control field2" <% if @timeline.present? %> disabled <% end %> style="width: 100%" ><%= @timeline.description if @timeline.present? %></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Start date</label>
    <div class='input-group date' id='datetimepicker1'>
      <input placeholder="start date" required="" type='text' <% if @timeline.present? %> disabled <% end %> value="<%= @timeline.start_date if @timeline.present? %>" name="start_date"  class="form-control field3" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <!-- <input name="start_date" value="<%= @timeline.start_date if @timeline.present? %>" class="start_date" /> -->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">End date</label>
    <div class='input-group date' id='datetimepicker2'>
      <input placeholder="end date" type='text' <% if @timeline.present? %> disabled <% end %> value="<%= @timeline.end_date if @timeline.present? %>" name="end_date"  class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <!-- <input name="end_date" value="<%= @timeline.end_date if @timeline.present? %>" class="end_date" /> -->
  </div>

  <!-- <div class="form-group">
    <label for="exampleInputEmail1">Added by</label>
    <input name="added_by" required="" <% if @timeline.present? %> disabled <% end %> value="<%= @timeline.added_by if @timeline.present? %>" name="name" type="text" class="form-control field5" placeholder="Added by">
  </div> -->
  <!-- <div class="form-group" >
    <div class="switch">
      <label>
        <input class="form-control" <% if @timeline.present? %> disabled <% end %> <% if @timeline.present? && @timeline.show_all == "1" %> checked <% end %> name="public" type="checkbox">
        <span class="lever"></span> <span class="inline-block" >Public</span>
      </label>
    </div>
  </div> -->
  <div class="form-group" >
    <select <% if @timeline.present? %> disabled <% end %> name="public" class="form-control" >
      <option selected="true" disabled="disabled" >Please Select</option>
      <option <% if @timeline.present? && @timeline.show_all == '0' %> selected="true" <% end %> value="off" >private</option>
      <option <% if @timeline.present? && @timeline.show_all == '1' %> selected="true" <% end %> value="on" >public</option>
    </select>
  </div>
  <input type="hidden" name="task_id" value="<%= @timeline.id if @timeline.present? %>">
  <% if @timeline.present?  %>
  <div class="row" >
    <div class="col-md-6" >
      <button  type="button" class="btn btn-primary edit_form">Edit</button>
      <button  type="button" data-dismiss="modal" class="btn btn-primary submit_form none">Update</button>
      <button  type="button" data-dismiss="modal" data-id="<%= @timeline.id %>" class="btn btn-danger delete_timeline">Delete</button>
    </div>
    <div class="col-md-6" >
        <button style="float: right;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  <% else %>
  <button  type="button" class="btn btn-primary update_form">Create Task</button>
  <% end %>

  </form>
</div>

<!-- <div class="show_graph_container" ></div> -->
<!-- <script>

  $(".submit_form").click(function(e) {
    debugger


    var form = $(this);
    var url = "timeline/create";

    $.ajax({
           type: "POST",
           url: url,
           data: $('.timeline_form').serialize(), // serializes the form's elements.
           success: function(data)
           {
               // alert(data); // show response from the php script.
               // location.reload() ;
               // $('#myModall').modal('toggle');
              $('.show_graph_container').html(data);
           }
         });

    e.preventDefault(); // avoid to execute the actual submit of the form.
});

    $(".update_form").click(function(e) {
    debugger


    var form = $(this);
    var url = "timeline/create";
    var show_graph = "show_graph";

    $.ajax({
           type: "POST",
           url: url,
           data: $('.timeline_form').serialize(), // serializes the form's elements.
           success: function(data)
           {
               // alert(data); // show response from the php script.
               // location.reload() ;
               // $('#myModall').modal('toggle');
              // $('.show_graph_container').html(data);
              window.location.href = show_graph;
           }
         });

    e.preventDefault(); // avoid to execute the actual submit of the form.
});

 $(function() {
  $('#datetimepicker1').datepicker();
  $('#datetimepicker2').datepicker();
});

 $(document).delegate('.edit_form', 'click', function(){
  debugger
  $(this).addClass('none');
  $('.form-control').prop("disabled", false)
  $('.submit_form').removeClass('none');

 })

 $(document).delegate('.delete_timeline', 'click', function(){
  debugger
  var timeline_id = $(this).data('id');
  $('.confirm_delete').attr('data-id', timeline_id );
  $('#destroy_timeline_modal').modal('show');
 } )

 $(document).delegate('.confirm_delete', 'click', function(){
  debugger
  var timeline_id = $(this).data('id');
  $.post("timeline/destroy",
    {
        task_id: timeline_id,
    },
    function(data, status){
        // $('.timeline_form').html(data);
        $('#destroy_timeline_modal').modal('hide')
        $('.show_graph_container').html(data);
        // location.reload() ;
    });
 } )


</script> -->
<script type="text/javascript">
  $(function() {
    // $('#datetimepicker1').datepicker();
    // $('#datetimepicker2').datepicker();
    $('#datetimepicker1').datepicker({
      format: 'dd/mm/yyyy',
      todayHighlight:'TRUE',
      autoclose: true,
  })
    $('#datetimepicker2').datepicker({
      format: 'dd/mm/yyyy',
      todayHighlight:'TRUE',
      autoclose: true,
  })
  });
</script>